<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PropellerAds UI tests">

    <test name="Login tests">
        <classes>
            <class name="tests.PA001_LoginWithValidCreds"/>
            <class name="tests.PA002_LoginAndCancelConfirmation"/>
        </classes>
    </test>

    <test name="Profile tests">
        <classes>
            <class name="tests.PA011_SaveUserInfo"/>
            <class name="tests.PA012_SavePaymentInfo"/>
        </classes>
    </test>

</suite>