<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="PropellerAds UI tests">

    <test name="Login tests">
        <classes>
            <class name="tests.login.PA001_LoginWithValidCreds"/>
            <class name="tests.login.PA002_LoginAndCancelConfirmation"/>
        </classes>
    </test>

    <test name="Profile tests">
        <classes>
            <class name="tests.profile.PA011_SaveUserInfo"/>
            <class name="tests.profile.PA012_SavePaymentInfo"/>
            <class name="tests.profile.PA013_SaveUserInfoWithEmptyFields"/>
            <class name="tests.profile.PA014_SavePaymentInfoWithEmptyFields"/>
        </classes>
    </test>

    <test name="Articles tests">
        <classes>
            <class name="tests.articles.PA021_CheckArticlesQuantity"/>
            <class name="tests.articles.PA022_CheckArticlePagesAreDisplayed"/>
        </classes>
    </test>

</suite>